.input {
  border-radius: 13px;
  padding: 5px;
  border: none;
  background: #c9c7c7;
  width: 200px;
  height: 30px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.input:hover,
.input:focus {
  border-radius: 7px;
}
