.input {
  border-radius: 13px;
  padding: 5px;
  border: none;
  background: #c9c7c7;
  width: 200px;
  height: 30px;
}

.input:hover {
  border-radius: 7px;
  animation: inp_hov 0.3s;
}

@keyframes inp_hov {
  from {
    border-radius: 13px;
  }

  to {
    border-radius: 7px;
  }
}
