.form {
  display: flex;
  background: #d9d9d9;
  width: 650px;
  height: 350px;
  border-radius: 45px;
  margin: 300px auto;
  box-shadow: 0 4px 2px 0 #00000040;
  animation: popup 0.34s;
}

.left {
  width: 325px;
  height: 100%;
  background: url(https://i.pinimg.com/1200x/e1/82/d2/e182d2c063862a76d5742a3cd7a34bb4.jpg);
  border-radius: 20px;
}

.left > :first-child {
  position: relative;
  left: 100px;
  top: 271px;
}

.right {
  width: 325px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 18px;
}

.inputs {
  margin-bottom: 20px;
}

.inputs > :first-child {
  margin-bottom: 15px;
}

.text {
  color: white;
  text-align: center;
  font-size: 18px;
}

@keyframes popup {
  from {
    transform: scale(2.5);
  }

  to {
    transform: scale(1);
  }
}
